.artist{
    grid-area: artist;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
   
    
}

.artist__tag{
    font-family: "Inter";
    font-size: 12px;
    line-height:  14.52px;
    font-weight: 400;
    color:  #AAA;
    margin: 0;
    
}

.artist__name{
    font-family: "Inter";
    font-size: 18px;
    line-height:  22px;
    font-weight: 400;
    color:  #FFF;
    margin: 0;
   
}

@media screen and (max-width: 544px){
    
    .artist{
        max-width: 288px;
    }
}