.button{
    grid-area: button;
    width: 356.08px;
    height: 48px;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFF;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    border-style: none;
    box-shadow: 5px 5px 10px 0px #00000040;
    }