.cities{
    max-width: 830px;
    margin:0 auto;
    padding: 92px 0 0;
    gap: 80px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px){
    .cities{
        max-width: 720px;
        margin-top: 82px;
    }
}

@media screen and (max-width: 544px){
    .cities{
   max-width: 320px;
    margin-top: 62px;
}}