.description{
    grid-area: description;
    
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.description__paragraph{
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 29.34px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFF;
    margin: 0;
    
}

@media screen and (max-width: 1024px){
    

    .description__paragraph{
        font-family: "Inter";
        font-size: 16px;
        line-height: 26.08px;
    }
}

