.footer{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    margin-top: 92px;
  }

 .footer__copyright{
    color: white;
    font-family: "Inter";
    font-size: 14px;
    line-height: 16px;
 }