.gallery{
    margin: 118px 0 0;
    padding: 0;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(2,1fr);
     gap: 16px;
 }
 
 .gallery__image{
     width: 284px;
     height: 213px;
 }

 @media screen and (max-width: 1024px){
    .gallery{
        margin-top: 64px;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
     
    }

    .gallery__image{
        width: 100%;
        height: 100%;
    }
 }

 @media screen and (max-width: 544px){
    .gallery{
        margin-top: 38px;
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-template-rows: repeat(8,1fr);
     gap: 12px;
    }

    .gallery__image{
        width: 288px;
        height: 218px;
    }

 }
