.introduction{
    padding-top: 92px;
    width: 830px;
    margin: 0 auto;
    padding-right: 153px;
  }

  .introduction__title{
    font-family: "Inter";
    max-width: 830px;
    font-size: 54px;
    line-height: 58px;
    color: white;   
  }

  .introduction__quote{
    max-width: 737.38px;
    font-size: 24px;
    line-height: 34px;
    color: white;
    font-family: "Inter";
    font-style: italic;
  }

  .introduction__author{
    font-size: 24px;
    line-height: 34px;
    color: white;
    text-align: end;
    font-family: "Inter";
    
  }

  .introduction__paragraph{
    max-width: 721.74px;
    font-size: 16px;
    line-height: 163%;;
    color: white;
    font-family: "Inter";
  }

  @media screen and (max-width: 1024px){
    .introduction{
      padding-top: 90px;
      max-width: 720px;
      margin: 0 24px;
      padding-right: 0;
      
    }

    .introduction__title{
      font-family: "Inter";
      max-width:707px;
      font-size: 45px;
      line-height: 49px;
      color: white;
     
    }
  }

  @media screen and (max-width: 544px){ 
    .introduction{
      padding-top: 64px;
      width: 288px;
      margin: 0 16px;
      padding-right: 0px;
    }

    .introduction__title{
      
      font-size: 32px;
      line-height: 35px;      
    }

    .introduction__quote{
     
      line-height: 30px;
    }
  }